* {
    margin:0px; 
    padding:0px; /
}
@font-face {
  font-family: "Philosopher-Regular";
  src: url(/fonts/Philosopher-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/fonts/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(/fonts/Roboto-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: url(/fonts/Comfortaa-Bold.ttf) format("truetype");
}

body {	
    width:80%; 
    margin-left:auto;
    margin-right:auto;
    background:#E2F0BD;
    position:relative;
}
div {	
    margin-top:10px;
    margin-bottom:10px;
}

hr {
	border: 1px solid #888888;
}
ul{ 
    position:relative; 
    left:30px;
    width:97.5%;
}
header,nav,main,footer {
	box-shadow: 3px 3px 5px #888888;
	margin-top:10px;
	border-radius:5px;
}
header,nav {
	background:url(/img/system/bg.jpg);
}
main,footer {
    background:#BEDEB4;
}

header{
    border-radius:5px;
    overflow:auto;
    color:#BEDEB4;
    text-shadow:
		-2px -2px 1px black,  
		2px -2px 1px black,
		-2px 2px 1px black,
		2px 2px 1px black;
    font-family: 'Philosopher-Regular', sans-serif;
}
.head-cont{
    margin-left:15px;
    margin-right:15px;
}
header img {
    border-radius:50px;
}
.head-name {
    padding:5px;
    text-align:center;
    font-size:35px;
    vertical-align:middle
}
nav {
    text-align: center;
    background-position:0px -136px;
    padding:5px;
}
nav a {	
    display: inline-block;
    height:30px;
    line-height:29px;
    background:rgba(0, 0, 0, 0.3);;
    border-radius:5px;
    padding:0px 10px;
    text-decoration:none;
    color:#BEDEB4;
    text-shadow: 3px 3px 3px black;
    font-size:115%;
    font-family: "Comfortaa";
    letter-spacing: -0.5px;
    -webkit-transition: background 0.3s;
}
nav a:hover {	
    background:#E2F0BD;
    text-shadow: 
		-1px -1px 2px black,  
		1px -1px 2px black,
		-1px 1px 2px black,
		1px 1px 2px black;
}

main H1 {
    text-align:center;
    padding:10px 15px;
    font-size:22px;
		font-family: "Roboto-Bold";
		text-shadow: 
		-1px -1px 5px #888888,  
		1px -1px 5px #888888,
		-1px 1px 5px #888888,
		1px 1px 5px #888888;
}
main p {
    text-indent: 30px;
    margin-top: 5px;
}
main br {
    display: block;
    margin: 10px 0;
    content: " ";
}

.aa {
    font-family: "Roboto-Bold";
    color:black;
}
.art-nav {
	text-align:left; margin:0px 10px;
    padding:10px;
}

.art-nav a {
    padding:0 4px 0 1px;
    text-decoration:none;
    color:black;
    text-shadow: 3px 3px 3px #888888;
    font-size:90%;
    font-family: "Comfortaa";
    letter-spacing: -1px;
    -webkit-transition: background 0.3s;
	}
li a {
    padding:0 4px 0 1px;
    text-decoration:none;
    color:black;
    font-size:90%;
    letter-spacing: -1px;
    font-weight:normal;
    -webkit-transition: background 0.3s;
	}
.art-nav a:hover,li a:hover{
	text-shadow: 3px 3px 1px white;	
	background:rgba(0, 0, 0, 0.2);
	border-radius:10px;
	}
main b,H2 {
	text-shadow: 2px 2px 3px #888888;
}
main H2 {
    text-align:center;
    font-family: "Roboto-BoldItalic";
    font-size: 22px;
 }
H4 {margin-top: 5px;}
.post{
    overflow:auto;
}
article {
    margin-top:0px;
    padding-left:20px;
    padding-right:20px;
}
article div{
    text-align:justify;
    font-size:18px;
    font-family: "Roboto";
}
.post-img-l {
    float:left;
    margin-left:20px;
    margin-right:20px;
}
.post-img-r {
    float:right;
    margin-left:15px;
    margin-right:20px;
}
.post-img-c {
    display:block; 
    width:100%;
    vertical-align:middle; 
    text-align:center;
}
.post img {
	box-shadow: 3px 3px 5px #888888;
	border-radius:5px;
}
article ol {
         font-style:italic;
         margin-left:20px;}
ul li {margin-left:20px;
         }
article a {
           font-size:20px;
           font-weight:bold;
           font-style:normal;
           }

article hr {margin-top:5px;}         

footer div {
    margin:5px;
}
footer p {
    text-align:right;
    padding:10px 15px;
}
footer a {
	color:black;	
	background:inherit;}