* {/* Применяется ко всем объектам */
    margin:0px; 
    padding:0px; 
    /* border:1px dotted; */
}
body {	
    width:80%; 
    margin-left:auto;
    margin-right:auto;
    background:#86E4BC;
    position:relative;
}
div {	
    margin-top:10px;
    margin-bottom:10px;
}
@font-face {
  font-family: "Arvo";
  src: url(../fonts/Arvo-Regular_201.ttf) format("truetype");
}
#header{
    border-radius:5px;
    background:url(../img/system/bg-m.jpg);
    overflow:auto;
    color:#ECE69D;
    text-shadow: 2px 2px 2px black;
    font-family:"Arvo";
}
#header div {border:1px dotted transparent;}
.head-cont{
    margin-left:10px;
    margin-right:10px;
}
#header img {
    border-radius:50px;
}
.logo {
    float:left;
}
.head-name {
    padding:10px;
    text-align:center;
    font-size:25px;
    vertical-align:middle
}
#menu {	
    border-radius:5px;
    text-align: center;
    background:url(../img/system/bg-m.jpg);
    background-position:0px -136px;
    padding:5px;
}
.menu-btn {	
    display: inline-block;
    height:30px;
    line-height:30px;
    background:transparent;
    border-radius:5px;
    padding:0px 10px;
    text-decoration:none;
    color:#ECE69D;
    text-shadow: 2px 2px 2px black;
    font-size:120%
}
.menu-btn:hover {	
    display: inline-block;
    height:30px;
    line-height:30px;
    background:#ECE69D;
    border-radius:5px;
    padding:0px 10px;
    text-decoration:none;
    color:#ECE69D;
    text-shadow: 2px 2px 2px black;
}
#content {
    border-radius:5px;
    background:#66CDAA;
}
#content H1 {
    text-align:center;
    padding:10px;
}
#content H2 {
    text-align:center;
}
.post{
    overflow:auto;
}
.post-cont {
    margin-top:0px;
    padding-left:10px;
    padding-right:10px;
}
.post-text {
    text-align:justify;
    font-size:110%;
}
.post-img-l {
    float:left;
    margin-left:10px;
    margin-right:10px;
}
.post-img-r {
    float:right;
    margin-left:10px;
    margin-right:10px;
}
.post-img-c {
    display:block; 
    width:100%;
    vertical-align:middle; 
    text-align:center;
}
.return-btn {
    text-align:center;
    padding-bottom:10px;
}
#footer {
    border-radius:5px;
    background:#66CDAA;
}
#footer div {
    margin:5px;
}
#footer p {
    text-align:right;
    padding:10px;
}